<body>
  <!-- Preloader Start -->
  <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="text-center">
                  <img src="../../../assets/imgs/theme/loading.gif" width="auto" alt="jobhub" />
              </div>
          </div>
      </div>
  </div>


  <header class="header sticky-bar">
      <div class="container">
          <div class="main-header">
              <div class="header-left">
                  <div class="header-logo">
                      <a  class="d-flex"><img  alt="jobhub" src="../../../assets/imgs/theme/logo5.png" /></a>
                  </div>
                  <div class="header-nav">
<!--                      <nav class="nav-main-menu d-none d-xl-block">-->
                          <ul class="main-menu" style="display: contents">
                              <li class="">
                                  <a class="active" href="home">Kryefaqja</a>
                              </li>
                              <li class="">
                                  <a href="employee">Kandidatët</a>
                              </li>
                          </ul>
<!--                      </nav>-->
              </div>
            </div>

            <div class="header-right" style="display: -webkit-box;display: -ms-flexbox; display: flex;-webkit-box-align: center;
           -ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;">
              <p *ngIf="isLoggedIn()" style="margin-right: 20px !important; margin: -1rem"> Mirë se erdhe  <strong>{{username}}</strong></p>
              <div class="block-signin">
                <a *ngIf="isLoggedIn()" (click)="logout()" class="btn btn-default btn-shadow ml-40 hover-up">Dil</a>
            </div>
          </div>
            <div *ngIf="!isLoggedIn()">

              <a href="/login"><button class="btn btn-default btn-find">Hyr </button></a>
            </div>
          </div>


      </div>
  </header>

  <main class="main">
      <section class="section-box">
          <div class="banner-hero banner-homepage-3">
              <div class="banner-inner">
                  <div class="row">
                      <div class="col-lg-8">
                          <div class="block-banner">
                              <span class="text-small-primary text-small-primary--disk text-uppercase  wow animate__animated animate__fadeInUp">Gjeni punonjësin tuaj</span>
                              <h1 class="heading-banner wow animate__animated animate__fadeInUp"><b>Mënyra më e lehtë për të gjetur punonjësin tuaj të ri</b></h1>
                              <div class="banner-description mt-30 wow animate__animated animate__fadeInUp">Çdo muaj, më shumë punëkërkues të rinj i drejtohen platformës tonë në kërkimin e tyre për punë. Shiko video-prezantimin e secilit kandidat për të krijuar nje ide më të qartë,të shpejtë dhe pa formalitete.</div>
                              <br>
                              <a href="employee"><button class="btn btn-default btn-find">Kërko</button></a>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="banner-imgs">
                              <img alt="jobhub" src="../../../assets/imgs/page/homepage3/banner-sm3.png" class="img-responsive shape-2" />
                              <span class="banner-sm1"><img alt="jobhub" src="../../../assets/imgs/page/homepage3/banner-sm1.png" class="img-responsive shape-3" /></span>
                              <span class="banner-sm2"><img alt="jobhub" src="../../../assets/imgs/page/homepage3/banner-main.png" class="img-responsive shape-2" /></span>
                              <span class="banner-sm3"><img alt="jobhub" src="../../../assets/imgs/page/homepage3/banner-sm2.png" class="img-responsive shape-2" /></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-box">
          <div class="container">
              <div class="row align-items-end">
                  <div class="col-lg-7">
                      <h2 class="section-title mb-20 wow animate__animated animate__fadeInUp">Kërkoni sipas çdo kategorie</h2>
                      <p class="text-md-lh28 color-black-5 wow animate__animated animate__fadeInUp">  Kërkoni për çfarë profesioni të keni nevojë, na kontaktoni dhe vendosni. Puna fillon në momentin që të dyja palet bien dakord.</p>
                  </div>
              </div>
              <div class="row mt-70">
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp">
                          <div class="text-center">

                                  <figure><img alt="jobhub" src="../../../assets/imgs/theme/icons/marketing.svg" /></figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading">Marketing & Komunikim
                          </h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                          <div class="text-center">

                                  <figure><img alt="jobhub" src="../../../assets/imgs/theme/icons/content-writer.svg" /></figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading">Shkrimtar</h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                      <div class="card-grid hover-up">
                          <div class="text-center">
                                  <figure><img src="../../../assets/imgs/theme/icons/marketing-director.svg" alt="jobhub" /></figure>
                          </div>
                          <h5 class="text-center mt-20 card-heading">
                            Drejtor <br>Marketingu</h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                          <div class="text-center">

                                  <figure><img src="../../../assets/imgs/theme/icons/system-analyst.svg" alt="jobhub" /></figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading">Analist <br>Sistemi</h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp">
                          <div class="text-center">

                                  <figure><img src="../../../assets/imgs/theme/icons/business-development.svg" alt="jobhub" /></figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading"><br> Dizajner</h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                          <div class="text-center">
                                <figure><img src="../../../assets/imgs/theme/icons/proof-reading.svg" alt="jobhub" /></figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading">Asistente <br></h5>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                          <div class="text-center card-img">

                                  <figure>
                                      <img src="../../../assets/imgs/theme/icons/testing.svg" alt="jobhub" />
                                  </figure>

                          </div>
                          <h5 class="text-center mt-20 card-heading">Burimet<br> Njerëzore</h5>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                          <div class="text-center mt-30">
                              <p class="text-center mt-30 text-stroke-40">Kantidatët janë duke pritur per ty</p>
                            </div>
                        </div>
                        <div class="box-button"><a href="employee" class="btn btn-default">Zbulo më shumë</a></div>
                  </div>
              </div>
          </div>
      </section>
  </main>
  <!-- End Content -->
  <!-- Footer -->
  <footer class="footer mt-50">
      <div class="container">
          <div class="footer-bottom mt-50">
              <div class="row">
                  <div class="col-md-6">
                      Copyright ©2022 <a href="#"><strong>AME</strong></a>  
                      <span>
                        <a routerLink="/help" class="col-md-6" style="color: #9777fa"><strong>Ndihma</strong> </a>    
                        <a routerLink="/privacy" class="col-md-6" style="color: #9777fa"><strong>Privatesia</strong></a>     
                        <a routerLink="/terms" class="col-md-6" style="color: #9777fa"><strong>Terma &amp; Kushte</strong></a>
                     </span>
                  </div>
                  <div class="col-md-6 text-md-end text-start">
                      <div class="footer-social">
                          <a   class="icon-socials icon-facebook" href="https://www.facebook.com/AME-All-Minds-Empowered-106298005154781/?hc_ref=ARQCQfHGx6D0GYR_6KlSKVN9h3zl6yBZtYvuD3JsHDMVrmEKoYmFplziuO2lytHtqhM&ref=nf_target"></a>
                          <a href="https://www.instagram.com/amegroup.al/" class="icon-socials icon-instagram"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</body>
