.blur-backdrop {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.confirm-btn{
  background-color: #9777fa;
  color: white;
}

:host ::ng-deep.mat-dialog-actions .mat-button-base+.mat-button-base, .mat-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base {
  margin-left: 18px;
  margin-top: 22px;

}
::ng-deep.mat-dialog-actions {
  justify-content: space-evenly;
}
.input-style input{
  background-color: rgba(151, 119, 250, 0.12);
  padding: 0 10px;
  box-sizing: border-box;
  color: black ;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep.mat-form-field-infix{
  width: 380px!important;
}
