<div class="modal-dialog-container">
  <form [formGroup]="myForm">

  <h2 mat-dialog-title style="text-align: center; font-size: 16px">vendosni emailin tuaj </h2>
  <div class="row">
    <div class="col-9">
      <mat-form-field class="input-style ">
        <input matInput formControlName="email" id="email" name="email" required>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button cdkFocusInitial class="confirm-btn" (click)="onSubmit()" >Dergo</button>
  </div>
  </form>
</div>
