
<div class="d-flex flex-column flex-root">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <div class="col-md-6 d-none d-md-flex bg-image">
    </div>
    <div
      class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex flex-column-fluid flex-center">
        <div class="login-form login-signin">
          <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate">
            <div class="pb-13 pt-lg-0 pt-5">
              <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg" style="color: #9777fa">Mirë se vini në Youth Net Albania</h3>
              <span class="text-muted font-weight-bold font-size-h4">I Ri?
									<a routerLink="/register" class="text-primary font-weight-bolder" style="color: #9777fa">Krijo një llogari të re</a></span>
            </div>
            <form
              name="form"
              (ngSubmit)="onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group fv-plugins-icon-container">
                <label for="username" class="font-size-h6 font-weight-bolder text-dark">Përdoruesi</label>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       type="text"
                       name="username"
                       [(ngModel)]="form.username"
                       required
                       #username="ngModel"
                       id="username"
                       autocomplete="off">
              </div>

              <div class="form-group fv-plugins-icon-container">
                <div class="d-flex justify-content-between mt-n5">
                  <label for="password" class="font-size-h6 font-weight-bolder text-dark pt-5" style="padding-top: 4.25rem !important;">Fjalëkalimi</label>
                </div>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       type="password"
                       [(ngModel)]="form.password"
                       required
                       minlength="6"
                       #password="ngModel"
                       name="password"
                       id="password"
                       autocomplete="off">
                <div class="fv-plugins-message-container"></div>
              </div>
              <div class="form-group pb-lg-0 pb-5">
                <button type="submit" class="btn btn-primary
                font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" style="background-color: #9777fa; border-color:#9777fa; width: 100%">Hyr
                </button>
<!--                <button type="button" class="btn btn-light-primary font-weight-bolder px-8 py-4 my-3 font-size-lg">-->

<!--                </button>-->
                <p style="font-weight: 600;cursor:pointer;" (click)="openEmailDialog()">Keni harruar fjalekalimin?</p>
              </div>
            </form>
            <input type="hidden">
            <div></div>
          </form>

  <span>
                  <a routerLink="/help" class="text-primary font-weight-bolder" style="color: #9777fa">Ndihma  &nbsp;&nbsp;</a>
                  <a routerLink="/privacy" class="text-primary font-weight-bolder" style="color: #9777fa">Privatesia &nbsp;&nbsp;</a>
                  <a routerLink="/terms" class="text-primary font-weight-bolder" style="color: #9777fa">Terma &amp; Kushte</a></span>

        </div>

      </div>
    </div>
  </div>
</div>
