<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Youth Net Albania </title>


    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700" rel='stylesheet' type='text/css'>
</head>

<body >

 <br> <br>

  
    <div class="container">
        <br> <br>
        <h3>Youth Net Albania - Privatësia </h3>
        <br>
        <div class="row">
            <div class="col-sm-8 page-content">
                <div class="white-container mb0">
                    <div class="title-lines">
                        <h3 class="mt15">Privat&euml;sia</h3>
                    </div>

                    <p>
                        <strong>Në respektim të Ligjit Nr.9887, datë 10.3.2008 të Kuvendit të Shqipërisë për Mbrojtjen e të Dhënave Personale ne respektojmë privatësinë e çdo anëtari. I gjithë informacioni rreth anëtarëve të Youth Net Albania, ruhet në mënyrë konfidenciale dhe nuk do ti shpërndahet asnjë pale të tretë pa miratimin paraprak të punëkërkuesve përveç rasteve për qëllime punësimi. Anëtarët bien dakort të sillen me etikë dhe ndershmëri.</strong>

                        <br><br>Ne nuk mund të lejojmë asnjë formë abuzimi, e cila për pasojë do të çojë në ndërprerje të komunikimit të informacioneve. Për më tepër shikoni politikën tonë të privatësisë. Është në përgjegjësinë e çdo individi të përdorë shërbimet tona në mënyrë të drejtë, duke respektuar privatësinë e të tjerëve si dhe autorësinë e tyre. Anëtarët kanë përgjëgjësi nëse ripublikojnë informacione të dhëna prej të tjerëve pa lejen e tyre.

                        <br><br>Ne ju ftojmë të na beni me dije, nëse gjykoni për raste të anëtarëve të papërgjegjshëm. Personat që përdorin fyerje në mënyrë të përsëritshme, nuk do të lejohen të marrin pjesë në sistemin  online “Youth Net Albania”. Ne mund t'ju dërgojmë një paralajmërim, një pezullim të përkohshëm, pezullim pa limit ose përfundimisht largimin nga sistemi online “Youth Net Albania” si dhe shërbimet e tij në rastet kur: a) haset shkelje e kësaj marrëveshje b) pamundësi për të verifikuar vërtetësinë e informacioneve që na jepni, ose c) nëse ne gjykojmë se veprimet tuaja çojnë në pengesa ligjore për ju, përdoruesit e tjerë ose ne.

                    <h5>1. Mbrojtja e privatësisë</h5>

                   Me regjistrimin ne sistem ju miratoni termat dhe kushtet e mëposhtme. Ne nuk mbajmë përgjegjësi nëse të dhënat tuaja përdoren nga palë të treta dhe nga “Youth Net Albania” për qëllime të burimeve njerezore, statistikore, tregtare, shërbime publike, reklamimi, marredhenie me publikun, analizimi, përpunimi të mëtejshem, etj.

                    <br><br>Te gjitha informacionet e faqes sone jane mbledhur ne database-n tone i cili lokalizohet brenda ose jashte vendit, madje edhe pas "Caktivizimit te llogarise suaj", dhe mund te arkivohen per arsye teknike dhe ligjore. Log-et e server-it dhe te dhena te tjera mblidhen ne menyre periodike. Ne mund të shpërndajmë informacion për perdoruesit e sistemit nëse kërkohet të veprojë kështu nga ligji ose nëse një shpërndarje e tillë është e domosdoshme per tiu pergjigjur thirrjes ne gjyq, urdhërit të gjykatës, ose proceseve te tjera ligjore.

                    <br><br>Personat/kompanitë e regjistruara në sistem mbajnë vete pergjegjesinë e vërtetesisë të të dhënave që jane ne sistem. Ne punojme ne cdo moment për të mundësuar nje sistem sa më te sigurtë dhe te përditsuar në mënyre që të krijojmë një platformë te sigurtë.

                    <h5>2. Të dhënat tuaja</h5>

                    Ne mbledhim adresat tuaja të e-mail-it për qëllime si dërgim i e-maileve konfirmuese, njoftimeve periodike të “Youth Net Albania”, njoftimeve për publikimin e punëve me interes për ju.

                    <br><br>Punëdhënësit: Duke aprovuar dhe dërguar një pozicion pune ju autorizoni “Youth Net Albanian” të komunikojë informacione lidhur me pozicionin e anëtarëve për qëllim të plotësimit me kandidatë. Nëqoftëse ju zgjidhni që emri i kompanisë të mbetet konfidencial, “Youth Net Albania” nuk do ta publikojë këtë informacion në komunikimet e tij.

                    <br><br>Për të siguruar të dhënat tuaja dhe vërtetësinë e informacionit, “Youth Net Albania” ruan të drejtën e verifikimit të çdo oferte pune para shpalljes zyrtare në faqe.

                    <br><br>Punëkërkuesit: Duke aplikuar për një punë, ju autorizoni “Youth Net Albanian” të furnizojë me informacionin tuaj  punëdhënësin. Informacioni që do t'ju jepet do të përfshijë CV-në tuaj  si dhe të dhënat e kontaktit.

                    <h5>3. Opinioni juaj</h5>

                    Ne mirëpresim opinionin tuaj në lidhje me sa më sipër, ndaj ju lutemi na kontaktoni në e-mail dhe në numrat e telefonit nëse keni sugjerime ose komente. Ne mund të ndryshojmë këtë dokument herë pas herë, duke u bazuar në komentet tuaja dhe nevojat tona për reflektimin korrekt të të dhënave dhe praktikave të aplikuara.
                

                </div>
            </div>

            <div class="col-sm-4 page-sidebar">
                <aside>
                    <div class="widget sidebar-widget white-container links-widget">
                        <ul>
                            <li ><a href="help">Ndihma</a></li>
                            <li class="active"><a href="privacy">Privatesia</a></li>
                            <li ><a href="terms">Terma &amp; Kushte</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div> <!-- end .container -->
</body>
</html>