
  <header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">

          <div class="header-logo">
            <a  class="d-flex">
              <img alt="Youth Net Albania" src="assets/imgs/theme/jobhub-logo.svg" />
            </a>
          </div>
          <div class="header-nav">
<!--            <nav class="nav-main-menu d-none d-xl-block">-->
              <ul class="main-menu">
                <li class="">
                  <a class="active" href="home">Home</a>
                </li>
                <li class="">
                  <a href="employee">Employees</a>
                </li>
              </ul>
<!--            </nav>-->
          </div>
        </div>
        <p style="margin-left:390px; margin-top: 15px"> Welcome <strong>{{username}}</strong></p>

        <div class="header-right">
          <div class="block-signin">
            <a (click)="logout()" class="btn btn-default btn-shadow ml-40 hover-up">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--End header-->
  <!-- Content -->
  <main class="main">
    <section class="section-box-2">
      <div class="box-head-single none-bg">
        <div class="container">
          <p> Welcome <strong>{{username}}</strong></p>
          <h4>There Are 968 Candidates<br />Here For You!</h4>
          <div class="row mt-15 mb-40">
            <div class="col-lg-7 col-md-9">
              <span class="text-mutted">Discover your next career move, freelance gig, or
                internship</span>
            </div>
            <div class="col-lg-5 col-md-3 text-lg-end text-start">
              <ul class="breadcrumbs mt-sm-15">
                <li><a href="home">Home</a></li>
                <li>Employees list</li>
              </ul>
            </div>
          </div>
          <div class="box-shadow-bdrd-15 box-filters">
            <div class="row">
              <div class="col-lg-5">
                <div class="box-search-job">
                  <form class="form-search-job">
                    <input type="text" class="form-control input-search-job" [(ngModel)]="searchTerm" id="searchTerm"
                      name="searchTerm" placeholder="Search..." />
                  </form>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="d-flex job-fillter">
                  <div class="d-block d-lg-flex">

                  </div>
                  <div class="box-button-find">
                    <button class="btn btn-default float-right" (click)="search()">Find Now</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section-box mt-80">
      <div class="container">
        <div class="content-page">
          <div class="box-filters-job mt-15 mb-10">
            <div class="row">
            </div>
          </div>



          <div class="row">
            <ng-container *ngFor="let employee of employees">
              <div class="col-lg-4 col-md-6">
                <div class="card-grid-2 hover-up">
                  <div class="card-grid-2-link">
                    <a *ngIf="employee.active==true"><i class="green-circle"></i></a>
                    <a *ngIf="employee.active==false"><i class="red-circle"></i></a>
<!--                    <a ><i class="fi-rr-edit" style="cursor: pointer"></i></a>-->

                    <a *ngIf="employee.active==true"></a>
                  </div>
                  <div class="text-center card-grid-2-image-rd ">
                    <!--                <a href="candidates-single.html">-->
                    <figure>
                      <img src="{{employee.imagePath}}"
                        style="min-width: 70px; min-height: 90px; border-radius: 50%" alt="image">
                      </figure>
                    <!--                </a>-->
                  </div>
                  <div class="card-block-info">
                    <div class="card-profile">
                      <a [routerLink]="['employee-details', employee.id]"><strong>{{employee.name}}</strong></a>
                      <span class="text-sm">{{employee.email}}</span>
                      <div class="rate-reviews-small">
                        <span><img src="assets/imgs/theme/icons/star.svg" alt="jobhub" /></span>
                        <span><img src="assets/imgs/theme/icons/star.svg" alt="jobhub" /></span>
                        <span><img src="assets/imgs/theme/icons/star.svg" alt="jobhub" /></span>
                        <span><img src="assets/imgs/theme/icons/star.svg" alt="jobhub" /></span>
                        <span><img src="assets/imgs/theme/icons/star.svg" alt="jobhub" /></span>
                        <span class="ml-10 text-muted text-small">(5.0)</span>
                      </div>
                    </div>
                    <div class="employers-info d-flex align-items-center justify-content-center mt-15">
                      <span class="d-flex align-items-center"><i class="fi-rr-marker  ml-0">&nbsp;</i>
                        {{employee.city}},{{employee.country}}</span>
                      <span class="d-flex align-items-center ml-25"><i
                          class="fi-rr-briefcase">&nbsp;</i>{{employee.actualPosition}}</span>
                    </div>
                    <div class="card-2-bottom card-2-bottom-candidate mt-30 ">
                      <div class="text-center">
                        <a class="btn-tags-sm mb-10" *ngFor="let skill of employee.skills"> {{skill}}</a>
                      </div>
                      <div class="text-center mt-25 mb-5">
                        <a [routerLink]="['employee-details', employee.id]" class="btn btn-border btn-brand-hover">View
                          profile</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="section-box">
      <div class="container">
        <ul class="list-partners">
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay="0s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/samsung.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".1s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/google.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".2s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/facebook.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".3s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/pinterest.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".4s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/avaya.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".5s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/forbes.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".1s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/avis.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".2s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/nielsen.svg" /></figure>
            </a>
          </li>
          <li class="wow animate__animated animate__fadeInUp hover-up" data-wow-delay=".3s">
            <a>
              <figure><img alt="jobhub" src="assets/imgs/jobs/logos/doordash.svg" /></figure>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <section class="section-box mt-50 mb-60">
      <div class="container">
        <div class="box-newsletter">
          <h5 class="text-md-newsletter">Sign up to get</h5>
          <h6 class="text-lg-newsletter">the latest jobs</h6>
          <div class="box-form-newsletter mt-30">
            <form class="form-newsletter">
              <input type="text" class="input-newsletter"  [(ngModel)]="subscribeEmail" id="subscribeEmail" name="subscribeEmail" placeholder="contact.alithemes@gmail.com" />
              <button class="btn btn-default font-heading icon-send-letter" (click)="sub()" >Subscribe</button>
            </form>
          </div>
        </div>
        <div class="box-newsletter-bottom">
          <div class="newsletter-bottom"></div>
        </div>
      </div>
    </section>
  </main>
