<div class="d-flex flex-column flex-root">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <div class="col-md-6 d-none d-md-flex bg-image">
    </div>
    <div class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">
      <div class="d-flex flex-column-fluid flex-center">
        <div class="login-form login-signin">
          <br>
          <form class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate" id="kt_login_signin_form">
            <div class="pb-13 pt-lg-0 pt-5">
              <div class="pb-13 pt-lg-0 pt-5">
                <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">Register new user</h3>
                <p class="text-muted font-weight-bold font-size-h4">Become part of exposing new talents</p>
              </div>
            </div>
            <form
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate
            >
              <div class="form-group fv-plugins-icon-container">
                <label for="username" class="font-size-h6 font-weight-bolder text-dark">Username</label>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       type="text"
                       name="username"
                       [(ngModel)]="form.username"
                       maxlength="20"
                       #username="ngModel"
                       id="username"
                       autocomplete="off">
              </div>
              <div class="form-group fv-plugins-icon-container">
                <label for="email" class="font-size-h6 font-weight-bolder text-dark">Email</label>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       type="email"
                       name="email"
                       [(ngModel)]="form.email"
                       maxlength="100"
                       #email="ngModel"
                       id="email"
                       autocomplete="off">
              </div>
              <div class="form-group fv-plugins-icon-container">
                <div class="d-flex justify-content-between mt-n5">
                  <label for="password" class="font-size-h6 font-weight-bolder text-dark pt-5" style="padding-top: 3.25rem !important;">Password</label>
                </div>
                <input class="form-control form-control-solid h-auto py-6 px-6 rounded-lg"
                       type="password"
                       [(ngModel)]="form.password"
                       #password="ngModel"
                       name="password"
                       id="password"
                       autocomplete="off">
                <div class="fv-plugins-message-container"></div>
              </div>
              <div class="text-muted font-weight-bolder" style="color:#000000">Already a member?
              <a routerLink="/login" class="text-primary font-weight-bolder" style="color: #9777fa">Sign in</a>
              </div>
              <div class="form-group pb-lg-0 pb-5">
                <button type="submit"  class="btn btn-primary
              font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" style="background-color: #9777fa; border-color:#9777fa">Sign Up</button>
              </div>
            </form>
            <input type="hidden"><div></div></form>
        </div>
      </div>
    </div>
  </div>
</div>
