<body>
  <header class="header sticky-bar">
    <div class="container">
      <div class="main-header">
        <div class="header-left">
          <div class="header-logo">
            <a href="index.html" class="d-flex"><img alt="jobhub" src="assets/imgs/theme/logo5.png" /></a>
          </div>
          <div class="header-nav">

            <!--            <nav class="nav-main-menu d-none d-xl-block">-->
            <ul class="main-menu" style="display: contents">
              <li class="">
                <a class="active" href="home">Kryefaqja</a>
              </li>
              <li class="">
                <a href="employee">Kandidatët</a>
              </li>
              <li class="has-children">
                <a>Informacione</a>
                <ul class="sub-menu">
                    <li><a href="#paketa-aftesive">Paketa e aftësive</a></li>
                    <li class="hr"><span></span></li>
                    <li><a href="#ligjet">Ligjet</a></li>
                    <li class="hr"><span></span></li>
                    <li><a href="#anketa">Anketa</a></li>
                
                </ul>
            </li>
            </ul>
            <!--            </nav>-->
          </div>
        </div>

        <div class="header-right" style="display: -webkit-box;display: -ms-flexbox; display: flex;-webkit-box-align: center;
           -ms-flex-align: center;align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;">
          <p style="margin-right: 20px !important; margin: -1rem"> Mirë se erdhe <strong>{{username}}</strong></p>

          <div class="block-signin">
            <a (click)="logout()" class="btn btn-default btn-shadow ml-40 hover-up">Dil</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--End header-->
  <!-- Content -->

  <main class="background">
    <section class="section-box">
      <div class="box-head-single box-head-single-candidate">
        <div class="container" style="margin-top: 120px">
          <div class="heading-image-rd online">
            <a href="#">
              <figure><img src="{{employees?.imagePath}}" style="min-width: 70px; min-height: 90px; border-radius: 50%"
                  alt="image"></figure>
            </a>
          </div>
          <div class="heading-main-info">
            <h4>{{employees.name}} {{employees.lastname}}</h4>
            <div class="head-info-profile">
              <span class="text-small mr-20"><i class="fi-rr-marker text-mutted"></i>
                {{employees.city}},{{employees.country}}</span>
              <span class="text-small mr-20"><i
                  class="fi-rr-briefcase text-mutted"></i>{{employees.actualPosition}}</span>
              <span class="text-small" style="margin-right: 10px"><i
                  class="fi fi-rr-id-badge text-mutted"></i>{{employees.age}} vjeç</span>
              <span class="text-small"><i class="fi fi-rr-phone-call text-mutted"></i>{{employees.phone}}</span>
            </div>
            <div class="row align-items-end">
              <div class="btnn col-lg-6">
                <a class=" btnn btn-tags-sm mb-10 mr-5" style="text-decoration: none">{{employees.skills}}</a>

              </div>
              <div class="col-lg-3">
                <a class="btn btn-default" target="_self" href="{{employees.cvPath}}" (click)="openCv()">Shkarko CV</a>

              </div>

              <div class="col-lg-3 text-lg-end">
                <ul class="breadcrumbs mt-10">
                  <li><a href="employee">Kryefaqja</a></li>
                  <li>{{employees.name}} {{employees.lastname}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <section class="section-box mt-50">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="content-single">
              <h4 class="mb-20">Biografia</h4>
              <p>
                Përshëndetje, unë jam <strong> {{employees.name}} {{employees.lastname}}</strong>
                {{employees.description}}

              </p>
              <div class="divider"></div>
              <h4 class="mt-30 mb-30">Edukimi</h4>
              <div class="row">

                   <p> {{employees.education}}</p>


                <div class="col-lg-6">
                  <p class="text-muted lh-32">
                  </p>
                </div>
              </div>
              <div class="divider"></div>
              <h4 class="mb-20 mt-25">Eksperienca e punës</h4>
              <div class="row" *ngFor="let el of experiences">

                <div class="col-md-4 col-sm-6 col-12 mb-60">
                  <strong class="text-md-bold"></strong>
                  <span class="dis-block text-muted text-md-lh24">
                    {{el.city}}, {{el.country}}<br />
                    {{el.startDate | date}}-{{el.endDate | date}}
                  </span>
                </div>
                <div class="col-md-4 col-sm-6 col-12 mb-60">
                  <strong class="text-md-bold">{{el.name}}</strong>
                  <span class="dis-block text-muted text-md-lh24">
                    {{el.description}}<br>
                  </span>
                </div>
              </div>
              <div class="divider"></div>
              <h4 class="mt-30 mb-30">Video Prezantimi</h4>
              <video [src]="url" height="auto" width="100%" controls></video>
              <div class="divider"></div>
              <h4 class="mb-10 mt-30">Aftësitë</h4>
              <div class="block-progress-status">
                <div class="item-progress">
                  <div class="title-progress"><strong class="text-md-bold">Komunikimi</strong> {{communication}}/100
                  </div>
                  <div class="info-progress">
                    <div class="progress">
                      <div [style.width.%]=communication class="progress-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="item-progress">
                  <div class="title-progress"><strong class="text-md-bold">Mendimi Kritik</strong>
                    {{criticalThinking}}/100</div>
                  <div class="info-progress">
                    <div class="progress">
                      <div [style.width.%]=criticalThinking class="progress-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="item-progress">
                  <div class="title-progress"><strong class="text-md-bold">Qëndrimi pozitiv</strong>
                    {{positiveAttitude}}/100</div>
                  <div class="info-progress">
                    <div class="progress">
                      <div [style.width.%]=positiveAttitude class="progress-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="item-progress">
                  <div class="title-progress"><strong class="text-md-bold">Lidership <br> </strong> {{leadership}}/100
                  </div>
                  <div class="info-progress">
                    <div class="progress">
                      <div [style.width.%]=leadership class="progress-bar"></div>
                    </div>
                  </div>
                </div>
                <div class="item-progress">
                  <div class="title-progress"><strong class="text-md-bold">Puna në grup <br> </strong> {{teamwork}}/100
                  </div>
                  <div class="info-progress">
                    <div class="progress">
                      <div [style.width.%]=teamwork class="progress-bar"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 pl-40 pl-lg-15 mt-lg-30">
            <div class="sidebar-shadow">
              <h5 class="font-bold">Përmbledhja</h5>
              <div class="sidebar-list-job mt-10">
                <ul>
                  <li>
                    <div class="sidebar-icon-item"><i class="fi-rr-briefcase"></i></div>
                    <div class="sidebar-text-info">
                      <span class="text-description">Eksperienca</span>
                      <strong class="small-heading">{{employees.tabData.tabExperience}}</strong>
                    </div>
                  </li>
                  <li>
                    <div class="sidebar-icon-item"><i class="fi-rr-marker"></i></div>
                    <div class="sidebar-text-info">
                      <span class="text-description">Qyteti</span>
                      <strong class="small-heading">{{employees.city}},<br />{{employees.country}}</strong>
                    </div>
                  </li>
                  <li>
                    <div class="sidebar-icon-item"><i class="fi-rr-dollar"></i></div>
                    <div class="sidebar-text-info">
                      <span class="text-description">Paga</span>
                      <strong class="small-heading">{{employees.tabData.salary}}</strong>
                    </div>
                  </li>
                  <li>
                    <div class="sidebar-icon-item"><i class="fi-rr-clock"></i></div>
                    <div class="sidebar-text-info">
                      <span class="text-description">Anëtar që në</span>
                      <strong class="small-heading">{{employees.tabData.userFrom}}</strong>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="btn btn-default"  (click)="contact(employees?.id)">Kontakto</a>
            </div>

            <div class="sidebar-shadow">
              <h5 class="font-bold">Karakterisitka</h5>
              <div class="block-tags">
                <a class="btn btn-tags-sm mb-10" *ngFor="let item of overview">{{item}}</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </main>
  <!-- End Content -->
  <!-- Footer -->
  <footer class="footer mt-50">
    <div class="container">
      <div class="footer-bottom mt-50">
        <div class="row">
          <div class="col-md-6">
            Copyright ©2022 <a href="#"><strong>AME</strong></a>  
            <span>
              <a routerLink="/help" class="col-md-6" style="color: #9777fa"><strong>Ndihma</strong> </a>    
              <a routerLink="/privacy" class="col-md-6" style="color: #9777fa"><strong>Privatesia</strong></a>     
              <a routerLink="/terms" class="col-md-6" style="color: #9777fa"><strong>Terma &amp; Kushte</strong></a>
           </span>
          </div>
          <div class="col-md-6 text-md-end text-start">
            <div class="footer-social">
              <a class="icon-socials icon-facebook" href="https://www.facebook.com/AME-All-Minds-Empowered-106298005154781/?hc_ref=ARQCQfHGx6D0GYR_6KlSKVN9h3zl6yBZtYvuD3JsHDMVrmEKoYmFplziuO2lytHtqhM&ref=nf_target"></a>
              <a href="https://www.instagram.com/amegroup.al/" class="icon-socials icon-instagram"></a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
