<body>
  <!-- Preloader Start -->
  <div id="preloader-active">
      <div class="preloader d-flex align-items-center justify-content-center">
          <div class="preloader-inner position-relative">
              <div class="text-center">
                  <img src="assets/imgs/theme/loading.gif" alt="jobhub" />
              </div>
          </div>
      </div>
  </div>
  <header class="header sticky-bar">
      <div class="container">
          <div class="main-header">
              <div class="header-left">
                  <div class="header-logo">
                      <a href="index.html" class="d-flex"><img alt="jobhub" src="assets/imgs/theme/jobhub-logo.svg" /></a>
                  </div>
                  <div class="header-nav">
                      <nav class="nav-main-menu d-none d-xl-block">
                          <ul class="main-menu">
                              <li class="">
                                  <a class="active" href="home">Home</a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </header>

  <main class="main">
      <section class="section-box">
          <div class="banner-hero banner-homepage-3">
              <div class="banner-inner">
                  <div class="row">
                      <div class="col-lg-8">
                          <div class="block-banner">
                              <span class="text-small-primary text-small-primary--disk text-uppercase  wow animate__animated animate__fadeInUp">Best jobs place</span>
                              <h1 class="heading-banner wow animate__animated animate__fadeInUp" >The Easiest Way to Get Your New Job</h1>
                              <div class="banner-description mt-30 wow animate__animated animate__fadeInUp">Each month, more than 3 million job seekers turn to
                                  website in their search for work, making over 140,000 applications every single day</div>
                              <br>
                              <a href="login"><button class="btn btn-default btn-find">Sign in</button></a>
                          </div>
                      </div>
                      <div class="col-lg-4">
                          <div class="banner-imgs">
                              <img alt="jobhub" src="assets/imgs/page/homepage3/banner-main.png" class="img-responsive shape-1" />
                              <span class="banner-sm1"><img alt="jobhub" src="assets/imgs/page/homepage3/banner-sm1.png" class="img-responsive shape-3" /></span>
                              <span class="banner-sm2"><img alt="jobhub" src="assets/imgs/page/homepage3/banner-sm2.png" class="img-responsive shape-2" /></span>
                              <span class="banner-sm3"><img alt="jobhub" src="assets/imgs/page/homepage3/banner-sm3.png" class="img-responsive shape-2" /></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <section class="section-box">
          <div class="container">
              <div class="row align-items-end">
                  <div class="col-lg-7">
                      <h2 class="section-title mb-20 wow animate__animated animate__fadeInUp">Find by category</h2>
                      <p class="text-md-lh28 color-black-5 wow animate__animated animate__fadeInUp">Find the type of work
                          you need, clearly defined and ready to start. Work begins as soon as you purchase and provide
                          requirements.</p>
                  </div>
              </div>
              <div class="row mt-70">
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp">
                          <div class="text-center">
            
                                  <figure><img alt="jobhub" src="assets/imgs/theme/icons/marketing.svg" /></figure>
                             
                          </div>
                          <h5 class="text-center mt-20 card-heading">Marketing & Communication
                          </h5>
                      
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                          <div class="text-center">
                           
                                  <figure><img alt="jobhub" src="assets/imgs/theme/icons/content-writer.svg" /></figure>
                             
                          </div>
                          <h5 class="text-center mt-20 card-heading">Content <br>Writer</h5>
                        
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                      <div class="card-grid hover-up">
                          <div class="text-center">
                                  <figure><img src="assets/imgs/theme/icons/marketing-director.svg" alt="jobhub" /></figure>
                          </div>
                          <h5 class="text-center mt-20 card-heading">Marketing <br>Director</h5>
                        
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                          <div class="text-center">

                                  <figure><img src="assets/imgs/theme/icons/system-analyst.svg" alt="jobhub" /></figure>
                          
                          </div>
                          <h5 class="text-center mt-20 card-heading">System <br>Analyst</h5>
                          
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp">
                          <div class="text-center">
        
                                  <figure><img src="assets/imgs/theme/icons/business-development.svg" alt="jobhub" /></figure>
                           
                          </div>
                          <h5 class="text-center mt-20 card-heading">Digital<br> Designer</h5>
                         
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                          <div class="text-center">         
                                <figure><img src="assets/imgs/theme/icons/proof-reading.svg" alt="jobhub" /></figure>
 
                          </div>
                          <h5 class="text-center mt-20 card-heading">Market <br>Research</h5>
                         
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
                          <div class="text-center card-img">
      
                                  <figure>
                                      <img src="assets/imgs/theme/icons/testing.svg" alt="jobhub" />
                                  </figure>
                           
                          </div>
                          <h5 class="text-center mt-20 card-heading">Human<br> Resource</h5>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                      <div class="card-grid hover-up wow animate__animated animate__fadeInUp" data-wow-delay=".3s">
                          <div class="text-center mt-15">
                              <h3>99+</h3>
                          </div>
                          <p class="text-center mt-30 text-stroke-40">Employers are waiting for you</p>
                          <div class="text-center mt-30">
                              <div class="box-button-shadow"><a href="employee" class="btn btn-default">Explore more</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  </main>
  <!-- End Content -->
  <!-- Footer -->
  <footer class="footer mt-50">
      <div class="container">
          <div class="footer-bottom mt-50">
              <div class="row">
                  <div class="col-md-6">
                      Copyright ©2022 <a href="#"><strong>AME</strong></a>. All Rights Reserved
                  </div>
                  <div class="col-md-6 text-md-end text-start">
                      <div class="footer-social">
                          <a href="#" class="icon-socials icon-facebook"></a>
                          <a href="#" class="icon-socials icon-twitter"></a>
                          <a href="#" class="icon-socials icon-instagram"></a>
                          <a href="#" class="icon-socials icon-linkedin"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="assets/js/plugins/waypoints.js"></script>
  <script src="assets/js/plugins/wow.js"></script>
  <script src="assets/js/plugins/magnific-popup.js"></script>
  <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="assets/js/plugins/select2.min.js"></script>
  <script src="assets/js/plugins/isotope.js"></script>
  <script src="assets/js/plugins/scrollup.js"></script>
  <script src="assets/js/plugins/swiper-bundle.min.js"></script>
  <!-- Template  JS -->
  <script src="assets/js/main.js?v=1.0"></script>
</body>