<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Youth Net Albania </title>


    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Condensed:400,700" rel='stylesheet' type='text/css'>
</head>

<body >

 <br> <br>
 <div class="container">
    <br> <br>
    <h3>Youth Net Albania - Kushtet e P&euml;rdorimit </h3>
    <br>
    <div class="row">
        <div class="col-sm-8 page-content">
            <div class="white-container mb0">
           
                <div class="title-lines">
                    <h3 class="mt15"> Kushtet e P&euml;rdorimit</h3>
                </div>

                <p>
                    

                    <h5>Termat dhe Kushtet e Website</h5>
                    
                    <strong>Kjo është faqja e internetit Youth Net Albania. Përdorimi i kësaj faqeje interneti është subjekt i termave dhe kushteve të mëposhtme, të cilat ju prezumohet qe i  pranoni çdo herë që e përdorni faqen e internetit.

"Ne" do të thotë Youth Net Albania, dhe "ynë" do të interpretohet në përputhje me rrethanat. "ju" do të thotë cdo person,  kompani apo organizatë  qe  përdor faqen e internetit Youth Net Albania, dhe "tuaj" do të interpretohet në përputhje me rrethanat. </strong>


<br> 
<br>
                    <h6>Ndërprerjet dhe vonesat e shërbimit </h6>


                    Ndërsa ne  përpiqemi  të sigurojme që standardi i kësaj faqeje interneti të mbetet i lartë dhe  të ruajmë vazhdimësinë e saj,  interneti nuk është një mjet i qëndrueshëm, dhe gabimet, lëshimet, ndërprerjet e shërbimit dhe vonesat mund të ndodhin në çdo kohë. Ne nuk pranojmë asnjë përgjegjësi që lind nga  gabime të tilla,  ndërprerje ose vonesa apo ndonjë detyrim të  vazhdueshëm apo përgjegjësinë që për të  vepruar në këtë faqe interneti (ose në ndonjë pjesë të veçantë të saj) ose për të siguruar shërbimin e ofruar në këtë website. Ne mund të ndryshojmë specifikimet e kësaj faqeje vazhdimisht pa paralajmërim.

                  
                    <br>
                    <h6></h6>

                    Përderisa ne kemi bërë çdo përpjekje për të siguruar që informacioni në këtë faqe të jetë i saktë dhe i plotë,  disa prej këtyre informacioneve na jane dhene  nga palët e treta dhe ne nuk jemi në gjendje të kontrollojmë saktësinë ose plotësinë e ketij informacioni. Ne nuk pranojmë asnjë përgjegjësi që lind nga ndonjë pasaktësi e informacionit tw paraqitur në këtë faqe të dhënë nga ju, çdo përdorues tjetër i site-it ose ndonjë person tjetër.

                    Përdorimi juaj i Site-it.
                    <h6></h6>

                    Ju mund të përdorni këtë Site vetëm për qëllime të ligjshme kur kërkoni punë ose ndihmë në karrierën tuaj apo në rekrutimin e stafit. Ju nuk duhet në asnjë rrethanë të kërkoni të minoni sigurinë e Faqes apo të çdo informacioni të paraqitur në të ose të vënë  në dispozicion nëpërmjet saj. Në veçanti, por pa u kufizuar,  nuk lejohet  hyrja, ndryshimi apo fshirja e çdo informacioni për të cilin ju nuk  keni qasje të autorizuar, mbingarkimi  i sistemit nëpërmjet spamming, ndërmarrja e  ndonjë veprimi ose përdorimi i ndonjë pajisje, rutinë ose software për përplasjen, vonesen, dëmtimin ose ndryshe  ndërhyjen në funksionimin e këtij Site apo përpjekjet për të deshifruar, zbërthyer ose për të modifikuar ndonjë nga software, coding apo informacion që përbën Site.

                    <br><br>Ju jeni përgjegjës vetëm për informacionet e paraqitura nga ju në këtë faqe interneti. Ju jeni përgjegjës për të siguruar që i gjithë informacioni i dhënë nga ju është i vërtetë, i saktë, up-to-date dhe jo çorientues apo me gjasa të çorientojë ose të mashtroje, nuk është diskriminues, nuk përmban shprehje të pahijshme, ofenduese, shpifëse apo ndryshe i paligjshëm, apo në shkelje të legjislacionit në fuqi, rregulloreve, udhëzimeve apo kodeve te praktikës, ose të drejtën e autorit, markes apo të drejtave të tjera të pronësisë intelektuale të çdo personi në çdo juridiksion. Ju jeni gjithashtu përgjegjës për të siguruar se të gjitha informacionet, të dhënat dhe fotografitë  janë pa viruse. Ne rezervojmë të drejtën për të hequr çdo informacion të dhënë nga ju nga faqja e internetit në bazë të linjës sonë, në çdo kohë dhe për çfarëdo arsye, pa qenë e nevojshme për të dhënë ndonjë shpjegim.


                    <h6>Informacioni i dërguar nga ju</h6>

                    Ne do të përdorim  informacionet e dhëna nga ju (duke përfshirë, pa kufizim, të dhënat personale) për të ndihmuar procesin e rekrutimit dhe funksionet e tjera administrative. Kjo  përfshin ndër të tjera,  përpunimin dhe ruajtjen e informacionit (duke përfshirë, pa kufizim, të dhënat personale) dhe kalimin ose paraqitjen në internet të  informacionit  për punëdhënësit e ardhshëm ose për klientët. Ne mund të ndajmë informacionin agregat me palët e treta të zgjedhura, pa zbuluar emrat individuale ose identifikimin e informacionit.

                    <br><br>Ne do të procesojme të dhënat që ju na jepni nëpërmjet kompletimit të regjistrimit ose të aplikimit të formës online dhe të çdo formati të mëtejshëm, në përputhje me legjislacionin shqiptar në fuqi për mbrojtjen e të dhënave.


                    <h6>Kushtet e Biznesit</h6>

                    Çdo  punësim  që del si  rezultat i një prezantimi të bërë nga Youth Net Albania do të jetë subjekt i  Termave Standarde të Biznesit të zbatueshme sipas rrethanat. Të gjithë punëdhënësit e ardhshëm dhe klientët për të cilët ne do të ofrojme shërbimet do të pajisen me një kopje të Termave të Biznesit të zbatueshme për ta pas regjistrimit.


                    <h6>Të drejtat e përmbajtjes</h6>

                    Të drejtat mbi materialet e shfaqura në këtë faqe janë të mbrojtura nga software copyright, dhe ju pranoni të përdorni këtë faqe në një mënyrë që nuk do të shkelë këto të drejta. Ju mund të kopjoni materialet në këtë faqe për qëllimet tuaja private ose të brendshme, por nuk lejohet  kopjimi i tyre  për përdorime komerciale ose te biznesit.


                    <h6>Siguria dhe Fjalëkalimet</h6>

                    Për t'u regjistruar në këtë website dhe për tu loguar në të kur ju vizitoni faqen e internetit, do t’ju duhet të përdorni një emër përdoruesi dhe një fjalëkalim. Vetëm ju jeni përgjegjës për sigurinë dhe përdorimin e duhur të fjalëkalimit tuaj, i cili duhet të mbahet konfidencial në të gjitha kohërat dhe nuk duhet të zbulohet  nga ndonjë person tjetër.

                    <br><br>Ju duhet të na njoftoni menjëherë nëse ju besoni që fjalëkalimi juaj është i njohur nga dikush tjetër ose në qoftë se ai mund të përdoret në një mënyrë të pa autorizuar. Ne nuk pranojmë asnjë përgjegjësi për ndonjë përdorim të paautorizuar ose të pahijshëm ose për zbulimin e ndonjë fjalëkalim.


                    <h6>Mbyllja e llogarisë tuaj online</h6>

                    Ne mund të mbyllim llogarine tuaj online dhe / ose t’ju mohojmë aksesin tuaj në këtë faqe interneti ose në ndonjë pjesë të saj (duke përfshirë çdo shërbim, ose informacion në dispozicion në ose përmes faqes) në çdo kohë sipas diskrecionit tonë absolut dhe pa asnjë shpjegim apo njoftim.


                    <h6>Përgjegjësitë për humbjen e informacionit</h6>

                    Ne nuk mbajmë asnjë përgjegjësi për ndonjë humbje qoftë direkte apo indirekte, për humbjen e biznesit, të të ardhurave apo fitimeve, shpenzimeve, korrupsionin ose shkatërrimin e të dhënave ose për çdo humbje tjetër të tërthortë ose rrjedhimore që dalin nga përdorimi juaj i faqes.

                    <br><br>Ju pranoni të na siguroni dhe të na zhdëmtoni kundrejt të gjitha kostove, shpenzimeve, pretendimeve, humbjeve, detyrimeve ose procedurave që dalin nga përdorimi ose keqpërdorimi nga ju i kësaj faqeje.

                    <br><br>Ju duhet të na njoftoni menjëherë nëse dikush bën apo kërcënon të bëjë ndonjë pretendim ndaj jush në lidhje me përdorimin tuaj të kësaj faqe interneti.


                    <h6>Zgjedhja e ligjit dhe Kompetenca</h6>

                    Përdorimi i kësaj faqeje interneti dhe çdo marrëveshje e arritur  përmes kësaj faqeje interneti duhet të qeveriset dhe interpretohet në përputhje me legjislacionin shqiptar në fuqi. Gjykata e Rrethit Gjyqësor Tiranë është kompetente për të zgjidhur çdo mosmarrëveshje që lind nga ose në lidhje me përdorimin e kësaj faqeje interneti ose çdo marrëveshje e bërë përmes kësaj faqeje interneti.


                    <h6>Ndryshimet në Termat dhe Kushtet</h6>

                    Këto kushte dhe rregulla mund të ndryshohen nga ne në çdo kohë. Prezumohet se ju i keni pranuar termat dhe kushtet (e ndryshuara), kur të përdorni këtë faqe në vijimësi në të ardhmen.

                    <br><br>Nëse ndonjë dispozitë e këtyre termave dhe kushteve do të konsiderohet  të jetë e pavlefshme nga ndonjë gjykatë kompetente, një pavlefshmëri e tillë nuk do të ndikojë në vlefshmërinë e dispozitave të mbetura, të cilat do të mbeten në fuqi me efekt të plotë.
            
            </div>
        </div>

        <div class="col-sm-4 page-sidebar">
            <aside>
                <div class="widget sidebar-widget white-container links-widget">
                    <ul>
                        <li ><a href="help">Ndihma</a></li>
                        <li class="active"><a href="privacy">Privatesia</a></li>
                        <li ><a href="terms">Terma &amp; Kushte</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div> <!-- end .container -->
  
    
</body>
</html>